body {
  background: #f7fafd;
}

#siteTitle {
  font-size: 36px;
  font-family: serif;
}

.articleDetailHead{
  margin: 10px;
}

#catchcopy {
  font-size: large;
  font-family: serif;
  font-weight: 700;
}

.normal {
  font-size: medium;
  font-family: serif;
  font-weight: 600;
}

.subtitle {
  font-size: 24px;
  font-family: sans-serif;
}

li {
  font-size: medium;
  font-family: serif;
  font-weight: 600;
}

.articleDetailFoot{
  width:100%;
  position: absolute;
  bottom: 0;
  padding:10px 0 10px 15px ;
  background-color: #efeef3;
}
.articleDetailFoot > #copyright{
  margin-top: 5px;
}

.career {
  margin: 10px;
  font-size: 1.5rem;
}

.career h2 {
  font-size: 1.5rem;
  margin: 5px 0px;
  font-weight: bold;
}


.career_list {
  border: solid 1px black;  
  box-sizing: border-box;
  border-radius: 5px;
}

.career_list li {
  padding: 15px; 
}

table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height:auto;
}

table tr{
  border-bottom: solid 1px #999;
  cursor: pointer;
}

table tr:hover{
  background-color: rgba(0,0,0,0.1);
}

table th,table td{
  text-align: center;
  width: auto;
  padding: 15px 0;
}

.activity {
  margin: 10px;
}

.calendar {
  margin: 10px;
}

.newsList {
  margin: 10px;
}

.goal {
  margin: 10px;
}

.relationlink{
  margin: 10px;
}



